html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.nav-bar-addition{
    background-color: rgb(25, 189, 47);
    flex-grow: 1;
}
.main {
    display: grid;
    grid-template-columns: 1fr 5fr;
    flex-grow: 8;
}

.side-menu {
    background-color: rgb(62, 225, 234);
}

.card {
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: rgb(11, 117, 122);
    flex-grow: 1;
}
.navbar-second {
    background-color: rgb(173, 194, 20);
    flex-grow: 1;
    margin: 2px;
}

.items-container {
    background-color: rgb(206, 253, 255);
    flex-grow: 7;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.item {
    background-color: pink;
}