body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

.layout {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar contents"
    ;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

.sidebar-collapsed {
    grid-template-columns: 3.2rem 1fr;
}

.top {
    grid-area: header;
    background-color: #02FFFF;
}

.side {
    grid-area: sidebar;
    background: #02FFC5;
}


.third-container {
    grid-area: contents;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.rectangle-large-1 {
    flex-grow: 1;
    border: 2px solid #02FFC5;
    background: #A4C2F4;
}

.rectangle-large-2 {
    flex-grow: 1;
    border: 2px solid #02FFC5;
    background: #674EA7;
}


.main {
    border: 2px solid #02FFC5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
    background-color: #CCCCCC;
    padding: 30px;
    flex-grow: 3;
}

.main div {
    padding: 20px;
    margin: 0;
}


.rectangle {
    background-color: white;
    border: 2px solid #ED028C;
}

@media (max-width: 768px) {
    .layout {
        grid-template-columns: 3.2rem 1fr;
    }
}