<div class="card">
  <div class="card-container">

    <div class="card-image">
      <img
        src="https://images.ygoprodeck.com/images/cards_small/27553701.jpg"
        alt="Absolute King - Megaplunder">

    </div>

    <h3 class="card-title">
      Absolute King - Megaplunder
    </h3>

    <div class="card-type">
      Dinosaur • Normal Monster
    </div>

    <div class="card-stats">
      <div class="stat">
        <span class="material-symbols-outlined filled">
          star
        </span>
        <span>6</span>
      </div>

      <div class="stat">
        EARTH
      </div>
    </div>

    <div class="card-combat">
      <span>ATK 2000</span>
      <span>DEF 1500</span>
    </div>

  </div>
</div>