<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <a class="logo" href="#">Duelist Codex - Yu-Gi-Oh</a>

      <div class="nav-links">
        <a [routerLink]="'cards'" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}" >Database</a>
        <a [routerLink]="'cards/favorites'" [routerLinkActive]="'active'">Favorites</a>
        <a href="#">Decks</a>
        <a href="#">Another category</a>
      </div>
    </div>

    <div class="navbar-right">
  
      <button class="btn-primary">
        Sign In
      </button>
    </div>
  </div>
</nav>