<section class="stats-grid">

    <div class="stat-box">
        <span>Attribute</span>
        <strong>
            {{ attribute()}}
        </strong>
    </div>


    <div class="stat-box">
        <span>Level</span>
        <strong>
            {{ level()}}
        </strong>
    </div>


    <div class="stat-box">
        <span>Race</span>
        <strong>
            {{ race() }}
        </strong>
    </div>


    <div class="stat-box">
        <span>Type</span>
        <strong>
            {{ type() }}
        </strong>
    </div>

</section>