<aside class="filters">

    <div class="filters-container">

        <h3 class="filters-title">
            Filters
        </h3>


        <div class="filters-content">

            <div class="filter-group">

                <label>
                    Card Type
                </label>


                <select #typeSelect (change)="onTypeChange(typeSelect.value)">
                    <option value="" >All</option>
                    @for (item of cardTypes; track $index) {
                    <option
                    [value]="item"
                    >{{item}}</option>
                    }
                </select>

            </div>

            <div class="filter-group">

                <label>
                    Attribute
                </label>

                <div class="filter-options">
                    <button (click)="onAttributeChange('')"   [class.active]="selectedAttribute() === ''">
                        All
                    </button>
                    @for (item of cardAttributes; track $index) {
                    <button (click)="onAttributeChange(item)"   [class.active]="selectedAttribute() === item">
                        {{item}}
                    </button>
                    }

                </div>

            </div>

            <!-- Tipo de monstruo -->
            <div class="filter-group">

                <label>
                    Raza
                </label>

                <select>
                    <option>Todos</option>
                    <option>Dragon</option>
                    <option>Spellcaster</option>
                    <option>Warrior</option>
                    <option>Dinosaur</option>
                </select>

            </div>



            <button class="clear-button">
                Limpiar Filtros
            </button>


        </div>

    </div>

</aside>