<app-section-accordion sectionName="Prices">
    <div>
        @if (cardPrice(); as price) {

        <div class="price-grid">

            <span>
                Cardmarket:
                {{ price.cardmarket_price }}$
            </span>

            <span>
                TCGPlayer:
                {{ price.tcgplayer_price }}$
            </span>

            <span>
                eBay:
                {{ price.ebay_price }}$
            </span>

        </div>

        } @else {
        <p>N/A</p>
        }

    </div>

</app-section-accordion>
