.spinner {
    width: 48px;
    height: 48px;

    border: 4px solid var(--border);
    border-top-color: var(--primary);

    border-radius: 50%;

    animation: spin .8s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}